/* colors
dark brown #6f5b3e
beige #c4ae78
cream #f9f6f0
black #292012

fonts 
*/

*{
  box-sizing: border-box;

}

:root{
--fs-h1:3rem;
--fs-h2:2.25rem;
--fs-h3: 1.25rem;
--fs-body: 1rem;

--ff-primary: Ink Free, MV Boli ;
--ff-secondary: Palatino Linotype;

--clr-white: #f9f6f0;
--clr-beige: #c4ae78;
--clr-brown:#6f5b3e;
--clr-dark:#292012;

}

h3{
  line-height: 1;
  margin:0;
}
body{
  font-size: var(--fs-body);
  background: #f9f6f0;
  margin: 0;
  line-height: 1.6;
  color: #292012;
  font-family: var(--ff-primary);
}

img{
  display: block;
  max-width: 100%;
}

h1{
font-size: var(--fs-h1);

}
h2{
font-size: var(--fs-h2);

}
h3{
  line-height: 1;
  margin: 0;
font-size: var(--fs-h3) ;
}
.intro{
position: relative;
margin-bottom: .25em;

}
.intro-subtitle{
  color: var(--clr-white);
  margin: 20px;
  font-size: var(--fs-h3);
  background-color: #c4ae78;
  text-align: center;
}
.title-intro{

}
.intro-img{
  box-shadow:0.25em 0.25em 0.75em rgba(0,0,0,.25);
}

section{
padding: 5em 2em;
}

nav{
  display: none;
}
.title-experience{
font-family: var(--ff-primary);
}

.title{

}
.subtitle{
  margin: 0;
  font-size: var(--fs-h3);
}
.sections{

}
.my-experience{
  background-image: url("background.png");
  background-color: var(--clr-brown);
  color: var(--clr-white);
  background-blend-mode:multiply;
  font-family: var(--ff-secondary);
  text-align: center;
} 
.button{
display: inline-block;
padding: .5em 1.5em;
background-color: var(--clr-dark);
color: var(--clr-white);
cursor: pointer;
font-weight: bold;
font-family: var(--ff-secondary);
text-decoration: none;}

.about-body{

}
.subtitle-about, .intro-subtitle{
background-color: var(--clr-brown);
font-family: var(--ff-secondary);
margin-bottom: 1em;
padding: .25em 1em;
}
.title-about{

}
.portfolio{

}
.portfolio-img{

}
.portfolio-item{

}

@media(min-width:700px){
  :root{
    --fs-h1: 4.5rem;
    --fs-h2:3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;

  }
.intro {
  display: grid;
  width: min-content;
  margin:  0  auto;
  grid-column-gap: 1em;
  grid-template-areas:
  "img title"
  "img subtitle"
  ;

grid-template-columns: min-content max-content;
}

.intro-img{
  grid-area:img;
  min-width: 250px;
  position: relative;
}
.intro-subtitle{
display: flex;  
align-items: flex-start;
position: relative;
}

}
@media(max-width:700px){
  .intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2rem;
  }
}